{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1><strong>Sobre el sitio </strong></h1>
<br>
<br>
<br>
<p class="text-right" style="margin-left: 7; margin-right: 7;">
    Sitio creado por <strong>Sebastián Cáceres</strong>, estudiante de la carrera programación Y análisis de sistemas.
    <br> Perfil de <a href="https://github.com/sc343">Github</a>
    <br>El sitio usa la API de: <a href="https://www.meteored.cl">www.meteored.cl</a>
    <br>
    <br>
    <br>
    <br>
    <br><img src="{% static '/weather/images/aiep.png' %}">
</p>


{% endblock %}